p {
	font-size: 12px;
}

  .col-12 {
  	width: 100%;
  	text-align: left;
  	padding: 15px;
  }

header {
	background-color: orange;
	margin-bottom: 30px;
}

.col-4 {
	width: 33.33%;
}

.cards {
	border: 1px solid lightgrey;
}

img {
	width: 100%;
}

.bio {
	width: 100%;
	padding-left: 15px;
}

